[Unit]
Description=Dont Starve Together Master-server
After=networking.service dst-server-dummy.service
PartOf=dst-server-dummy.service
[Service]
Type=oneshot
RemainAfterExit=yes
User={{ dst_srv_user }}
WorkingDirectory={{ game_server_user.home }}/{{ dst_srv_game_dir }}/bin64
ExecStart=/usr/bin/tmux new -Ads DST-srv_Master -n Master -c {{ game_server_user.home }}/{{ dst_srv_game_dir }}/bin64 "{{ game_server_user.home }}/{{ dst_srv_game_dir }}/bin64/dontstarve_dedicated_server_nullrenderer_x64 -console -cluster {{ dst_srv_cluster_name }} -monitor_parent_process $$ -shard Master"
ExecStop=/usr/bin/tmux send-keys -t DST-srv_Master.0 "c_shutdown(true)" ENTER
SyslogIdentifier=dst-srv_Master
[Install]
WantedBy=multi-user.target
